@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    #grad {
        background-image: linear-gradient(#8CD0E3, #F08DCE);
    }
</style>

<div  id="grad" style=" height: 929px; margin-top: -62px; width: 1541px; margin-left: -210px; margin-right: -210px;">
    <h1 class="text-center" style=" color: white; font-weight: bold; margin-top:60px;">@ViewData["Title"]</h1>
    <div class="text-center " style="color: white; font-weight: bold; margin-top: 110px; margin-left: 250px; font-size: 17px; width: 1000px; ">
        This privacy policy provides how this app uses and protects any information that you give or share when you use this website.
        The app is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be
        identified when using this website, then you can be assured that it will sly be used in accordance with this privacy statement. It
        may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you
        are happy with any changes. This policy has been effective since 13.09.2023.
    </div>

    <p style="color: white; font-weight: bold; margin-left: 520px; margin-top: 50px; font-size: 17px; ">Why required and what we do with the information we gather</p>
    <div style="color: white; margin-left: 250px; width: 1000px; ">
        <p class="text-center">
            - We require this information to understand your needs and provide you with a better service, and in particular for the following
            reasons: <br />
            Internal record keeping.
        </p>
        <p class="text-center">
            - We may use the information to improve our products and services.
        </p>

        <p class="text-center">
            - We may periodically send promotional email about new products, special offers or other information which we think you may find
            interesting using the email address which you have provided.
        </p>
        <p class="text-center">
            - We may use the information to customize the website according to your interests.
        </p>
        <p class="text-center">
            - We may provide your information to our third party partners for marketing or promotional purposes.
        </p>
        <p class="text-center">
            - We will never sell your information.
        </p>
 
        <img src="https://qcloud.pk/wp-content/uploads/2022/12/privacy-policy-bnr.6bbda27f.png" style="margin-top: -1190px; width: 140px; height: 140px; margin-left: 720px;">
    </div>
</div>
